*/__pycache__
*.pyc
.vscode/
notebooks/.ipynb_checkpoints
notebooks/*.csv
*.index
*.idea
*.xml
*.pkl
*.npy
cloud_functions/resize_images/node_modules/*
build_deploy/build/*
*.DS_Store
art_snob_api/app.yaml