<!DOCTYPE HTML>
<html>
	<head>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TM4VV2F');</script>
		<link rel="icon" href="{{ url_for('static', filename='artsnoblogo1.png') }}">
		<title>Art Snob, AI powered art discovery, taste, and recommendation engine.</title>
		<meta name="description=" content="Art Snob gathers artwork from the top art sellers online,
		and uses cutting-edge AI to recommend the perfect pieces for you. Art Snob will learn to understand and
		describe your aesthetic desires, so you don't have to."/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }} />
		<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyAJZDnY9R8-bJxnlC8aSJfzmYGzyNOVC6Y",
		    authDomain: "artsnob-1.firebaseapp.com",
		    databaseURL: "https://artsnob-1.firebaseio.com",
		    projectId: "artsnob-1",
		    storageBucket: "artsnob-1.appspot.com",
		    messagingSenderId: "208670012614"
		  };
		  firebase.initializeApp(config);
		</script>
		<script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
		<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
		<script src="{{ url_for('static', filename='js/snapback_cache.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/infinite-scroll.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/firebase.js') }}"></script>

	</head>
	<body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM4VV2F"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


		<div class="wrapper">

		<!-- sidebar -->
		<nav class="nav-main">
			<div class="nav-top">
				<div class="right-side">
				<a onclick=openNavBar() class="caps_text">CLOSE</a>
				<a onclick=openNavBar() class="close_x"><img src="{{ url_for('static', filename='black-x-icon.png') }}" id="close_menu"></a>
				</div>
			</div>

		<div class="nav-body one">
			<div class="left-side">
				<a href="/profile" class="link_text show">MY FAVORITES</a>
			</div>
		</div>

		<div class="nav-body two">
			<div class="left-side">
				<a onclick=loginWindow() class="link_text show" id="menu-log-in">LOG IN</a>
				<a onclick=loginSignOut() class="link_text" id="menu-log-out">LOG OUT</a>
			</div>
		</div>

		<div class="nav-body three">
			<div class="left-side">
				<a href="/blog-1" class="link_text show">BLOG</a>
			</div>
		</div>

		<div class="nav-body four">
			<div class="left-side">
				<div class="visit_links">
				VISIT US:
				<a href="https://www.instagram.com/artsnobnyc/" class="icon fa-instagram"><span class="label">Instagram</span></a>
				</div>
			</div>
		</div>

		</nav>

		<!-- Header -->
			<header id="header">
				<div class="inner">

					<div class="menubar">

						<div class='title_holder'>
							<div class="ham_holder">

							<a onclick=openNavBar()>
									<div class="ham_menu"></div>
									<div class="ham_menu"></div>
									<div class="ham_menu"></div>
							</a>

							</div>

							<a onclick=openNavBar() class="navbarlink">
							<div class="menu_desc">MENU</div>
							</a>

						</div>

						<div class="inline_search hidden">
							<form class="searchform" method="POST">
							<input type="text" id="search-text"
								   placeholder="SEARCH FOR ART"
								   data-placeholder="SEARCH FOR ART (FUN, BEACH, RED, RAINBOW...)"
								   data-placeholder-mobile="SEARCH FOR ART"
								   class="search-input"
								   name="search"
								   value="">
								<div class="search_item_list" id="search_autocomplete"></div>
							</form>
						</div>

						<div class="search_holder">
							<a href="/index0">
							<h1 class="smalltitle">Art Snob</h1>
							</a>
						</div>

						<div class="signup_holder">
							<a onclick=searchBar()><img src="{{ url_for('static', filename='black-search-500.png') }}" id="search_icon"></a>
							<a href="/profile">
							<div class="favorite_button">
								<div class="favorite_text">MY FAVORITES</div>
							</div>
							</a>


						</div>

					</div>

				</div>


				{% if onboarding == true %}

				<div class="infobar tutorial" id="infobar_tutorial">


                    <div class="feed_return_index feed" id="welcome">Like four works to get recommended art
					</div>

				</div>

				<div class="infobar progress" id="progess_bar">

                    <div class="feed_return_index one" id="one_progress">1
					</div>
					<div class="feed_return_index two" id="two_progress">2
					</div>
					<div class="feed_return_index three" id="three_progress">3
					</div>
					<div class="feed_return_index four" id="four_progress">4
					</div>

				</div>

				{% endif %}




			</header>


		<!-- Main -->
			<div id="main">

				<div class="login_content", id="login_popup">

								<div class='close_login_popup'>
							     <a onclick=cancelWindow()><img src="{{ url_for('static', filename='icon-delete.png') }}"></a>
								</div>

								<h1 class="login_content_heading">Art Snob Login</h1>
								<h2 class='login_content_login_explainer'>Sign up or login to save recommendations</h2>
								<div class='login_content_google-login-links' id="firebaseui-auth-container"></div>
								<div class="login_content_cancel_button_holder">

									<input type="button" class="login_content_cancel_button" onclick=cancelWindow() value="Cancel" />

								</div>
							</div>

				{% if tutorial == true %}

				<div class="welcome_content show", id="welcome_popup">

								<div class="welcome_content_heading">
									<h1>Welcome to </h1> <h1 class="snobbery">Art Snob</h1>
								</div>
								<div class="welcome_content_login_explainer">
								<h2>Finding amazing art for your home has never been easier,
									or more fun. We gather artwork from the top art sellers and galleries online, and use AI to recommend
									the perfect pieces for you.</h2>
								</div>

								<div class="welcome_content_cancel_button_holder">
									<input type="button" class="welcome_content_cancel_button" onclick=closeWelcomeWindow() value="Get Started" />
								</div>
				</div>

				{% endif %}


				<div class="inner" id="cached_feed">
						<div class="grid", id="explore_feed">
							<!-- class="columns" -->
							  <div class="grid-sizer"></div>
							  <div class="gutter-sizer"></div>
							{% for image in start_images %}
								<div class="grid-item">

									<div id="filter_{{ image[1] }}">
									<a href="/detail{{ image[0].split('full/')[-1][:-4] }}"><img src="{{ image[0] }}" alt="" /></a>
									<img id="heart_{{ image [0] }}" class='image fit like {{ image[0] }}' src="{{ url_for('static', filename='heart.png' if image[0] in liked_images else 'heart_soft.png') }}" alt="" onclick=likeImage(this) />
									</div>

								</div>
							{% endfor %}
						</div>

					<div class="recommender_button">
					<button class="button view-more-button">
						{% if onboarding == true %}
							Show me more!
						{% else %}
						    Recommend me more!
						{% endif %}

					</button>
					</div>
					<script src="{{ url_for('static', filename='js/infinite_grid.js') }}"></script>
					<script src="{{ url_for('static', filename='js/main.js') }}"></script>
				</div>
			</div>

		</div>
		<!-- Scripts -->
	</body>
</html>