<div class="blog_post">

    <div class="blog_title">
    <h2>It’s no secret--great art can be pricey.</h2>
    </div>

<h2>Know your budget</h2>

<div class="blog_image">
    <img src="https://storage.googleapis.com/artsnob_images/full/julie-laiymani-412282-unsplash.jpg" alt="" />
</div>

    <p>If you’re shopping for art, it’s important to know your budget and stick to it. The good news is it’s never been easier to find amazing prints and original works at affordable prices. In fact, we’ve already done all legwork for you. Check out your <a href="/">Art Snob feed</a> (after you finish this post), and pick out what you love. If it’s out of your price range, don’t worry! Tell us what you want to spend, and we’ll line up hundreds of similar pieces from the top art sellers in the world, all within your budget. It’s that easy.</p>

<h2>Know your space</h2>

<div class="blog_image">
    <img src="https://storage.googleapis.com/artsnob_images/full/art-contemporary-decor-1058770.jpg" alt="" />
</div>

<p>The last thing you want is to get a piece home and realize it just doesn’t work the way you imagined. You need to understand your space to pick the perfect piece of artwork. Size matters--don’t try to fill a large wall space with a small piece. Instead, opt for larger works, or collections of smaller pieces that complement each other (Need help finding complementary pieces? Try using your feed to generate ideas).</p>
<p>You’ll want to choose pieces that match the style of your room. Are you going for a modern look, or a more classic style? Are you hanging the piece against a neutral backdrop, exposed brick, or a brightly painted wall? You shouldn’t be afraid to choose bold and exciting artwork for your home, but giving some thought to complementary styles and color schemes before buying will help you make sure you choose a piece that looks great in your space. </p>>

<h2>Know your artwork</h2>

<div class="blog_image">
        <img src="https://storage.googleapis.com/artsnob_images/full/adult-art-art-exhibition-1043331.jpg" alt="" />
</div>

    <p>The perfect piece of art doesn’t just look great in your home, it can also be a unique and provocative conversation starter. Every piece of artwork has a story to tell. Spend some time reading about the artist, their background, and the inspiration behind the work. You’ll feel a stronger connection to the work, learn something new, and have a great new conversation piece to impress your guests!</p>
    <p>Ready to start shopping for amazing art? Start your <a href="/">personalized Art Snob feed</a> now.</p>

</div>